---
- name: Create the Argo CD Application for the Operator
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: argoproj.io/v1alpha1
      kind: Application
      metadata:
        name: "cluster-observability-operator"
        namespace: "{{ argocd_namespace }}"
        finalizers:
          - resources-finalizer.argocd.argoproj.io
      spec:
        project: "default"
        destination:
          namespace: "{{ observability_namespace }}"
          server: "https://kubernetes.default.svc"
        source:
          repoURL: "{{ gitops_repo }}"
          path: "apps/cluster-observability-operator/overlays/dev"
          targetRevision: "main"
          kustomize: {}
        syncPolicy:
          automated:
            prune: true
            selfHeal: true
          syncOptions:
            - CreateNamespace=false

- name: Create the Argo CD Application for the Instance
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: argoproj.io/v1alpha1
      kind: Application
      metadata:
        name: "ui-plugin"
        namespace: "{{ argocd_namespace }}"
        finalizers:
          - resources-finalizer.argocd.argoproj.io
      spec:
        project: "default"
        destination:
          namespace: "{{ observability_namespace }}"
          server: "https://kubernetes.default.svc"
        source:
          repoURL: "{{ gitops_repo }}"
          path: "apps/ui-plugin/overlays/dev"
          targetRevision: "main"
          kustomize: {}
        syncPolicy:
          automated:
            prune: true
            selfHeal: true
          syncOptions:
            - CreateNamespace=false