---
- name: Asegurarse de que el namespace '{{ devspaces_namespace }}' existe
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ devspaces_namespace }}"
  register: ns_result

- name: Mostrar estado del Namespace
  ansible.builtin.debug:
    msg: "Namespace '{{ devspaces_namespace }}' ya existe o ha sido creado."
  when: ns_result.changed or not ns_result.changed

- name: Esperar a que el CRD 'CheCluster' esté establecido (Established)
  kubernetes.core.k8s_info:
    api_version: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    name: checlusters.org.eclipse.che
  register: crd_status
  until: >
    crd_status.resources | length > 0 and
    (crd_status.resources[0].status.conditions | selectattr('type', 'equalto', 'Established') | list | length > 0) and
    (crd_status.resources[0].status.conditions | selectattr('type', 'equalto', 'Established') | list)[0].status == "True"
  retries: 20
  delay: 10
  vars: { ansible_conditional_need_retry: true }

- name: Aplicar el manifiesto de la instancia 'CheCluster'
  kubernetes.core.k8s:
    state: present
    definition:
      kind: CheCluster
      apiVersion: org.eclipse.che/v2
      metadata:
        name: devspaces
        namespace: openshift-devspaces
      spec:
        components: {}
        containerRegistry: {}
        devEnvironments: {}
        gitServices: {}
        networking: {}

- name: Esperar a que la instancia '{{ devspaces_instance_name }}' esté 'Available'
  kubernetes.core.k8s_info:
    api_version: org.eclipse.che/v2
    kind: CheCluster
    namespace: "{{ devspaces_namespace }}"
  register: checluster_list
  vars:
    ansible_conditional_need_retry: true
    checluster: "{{ checluster_list.resources | selectattr('metadata.name', 'equalto', devspaces_instance_name) | list }}"
  until: >
    checluster | length > 0 and
    checluster[0].status is defined and
    checluster[0].status.cheClusterRunning is defined and
    checluster[0].status.cheClusterRunning == "Available"
  retries: 60 # 60 reintentos * 15 seg = 15 minutos de espera
  delay: 15
  no_log: true

